#signup-page,
#login-page,
#forgotpassword-page,
#passwordreset-page {
    background: url("~@/assets/images/plantation-166515_1280.jpg") repeat;
    padding-top: 5rem;
    padding-bottom: 50rem;
}

.link {
    text-decoration: underline;
    color: #000000;
}

.link:hover {
    color: #28a745;
}
