body,
html {
    height: 100%;
    background-image: url("~@/assets/images/plantation-166515_1280.jpg");
}

.Center {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 35%;
    left: 43%;
    margin-top: -100px;
    margin-left: -100px;
    color: white;
}

.inner-block {
    /*width: 450px;
    margin: auto; */
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2050;
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s; */
}